

.burgerNav {
    display: none;
}

@media only screen and (max-width: 880px) {
    .menuStyles {
        top: 0.9rem;
        right: 2rem;
        position: absolute;
        height: 50px;
        width: 40px;
        margin-left: auto;
        z-index: 10;
        position: relative;
        cursor: pointer;

        span {
            height: 2px;
            width: 100%;
            background-color: #fff;
            border-radius: 25px;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            transition: 0.3s ease;
        }

        span:nth-child(1) {
            top: 25%;
        }
        span:nth-child(2) {
            top: 75%;
        }
    }

    .start {
        
        span:nth-child(1) {
            top: 50%;
            transform: translate(-50%, -50%) rotate(45deg);
        }
        span:nth-child(2) {
            opacity: 0;

        }
        span:nth-child(3) {
            top: 50%;
            transform: translate(-50%, -50%) rotate(-45deg);
        }
    }
    .burgerNav {
        display: flex;
        margin: 0;
        padding: 0;
        position: fixed;
        background-color: #f8dd9f;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        width: 100%;
        right: 0;
        transform: translateY(-100%); 
        transition: transform 0.5s ease-in-out;
        
        li {
            padding-bottom: 10rem;
            list-style: none;
            opacity: 0;
            transition: 1s ease-in-out;
           
            a {
                
                text-decoration: none;
                color: #000;
            }
            
        }
        li:last-child {
            padding-bottom: 0;
        }
    } .open {
        transform:translateY(0%) ;
        li {
            opacity: 1;
        }
    }
}




