.mainNav {
    display: flex;
    justify-content: center;
  
    .mainUl {
      display: flex;
      gap: 1.5rem;
      padding: 0.5rem 1rem;
      background-color: #1e1e1e;
      border-radius: 2rem;
  
      li {
        list-style: none;
  
        a {
          display: block;
          padding: 0.5rem 1.2rem;
          color: #bbb;
          text-decoration: none;
          font-size: 0.9rem;
          border-radius: 1.5rem;
          transition: all 0.3s ease;
  
          &.active {
            background: #00f5d4;
            width: 100%;
            color: #000;
            font-weight: bold;
            animation: bounce 0.4s ease-out;
          }

        }
      }
    }
  }
  
  @media only screen and (max-width: 880px) {
    .mainNav {
      .mainUl {
        display: none;
      }
    }
  }

  @keyframes bounce {
    0% { transform: scale(1); }
    50% { transform: scale(1.2); }
    100% { transform: scale(1); }
  }