.tech-grid {
    margin-top: 10rem;
    overflow: hidden;
    white-space: nowrap;
    color: #fff;
    z-index: 0;
}

.tech-grid h3 {
    margin: 0 0 2rem 0;
    font-size: 2rem;
    text-align: center;
}

.tech-track {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Ensures alignment */
    max-width: 53rem;
    gap: 1rem;
}

.tech-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tech-name {
    padding: 0;
    margin: 0;
    width: 130px; /* Slightly increased for better alignment */
    height: 45px; /* Adjusted for consistency */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-weight: 700;
    color: #000;
    background-color: #eee;
    text-align: center;
    font-size: 1rem; /* Make text more readable */
}
