.tech-grid {
    margin-top: 10rem;
    overflow: hidden;
    white-space: nowrap;
    color: #fff;
    z-index: 0;

    #tech-heading {
        margin: 0 0 2rem 0;
        font-size: 2rem;
        text-align: center;
    }
    
    .tech-track {
        position: relative;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 53rem;
        gap: 1rem;
    
        .tech-list {
            position: relative;
            padding: 0;
            margin: 0;
            width: 130px; 
            height: 45px; 
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
            font-weight: 700;
            color: #000;
            text-align: center;
            font-size: 1rem;
            cursor: pointer;
            .techName {
                position: absolute;
                opacity: 0;
                top: -2rem;
                left: 5rem;
                padding: 0.5rem;
                border-radius: 5%;
                z-index: 9999;
                background-color: #fff;
                color: #000; 
                visibility: hidden;
                transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
            } &:hover .techName {
                opacity: 1;
                visibility: visible;
            }
        }
    }
}





