header {
    max-width: 1200px;
    margin: 15vh auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10rem;
    text-align: center;
    h2:first-child {
        font-size: 2.8rem;
    }
    h2 {
        margin: 0 0 0.5rem 0;
        padding: 0;
        color: #fff;
        font-size: 2.5rem;
        font-weight: 700;
        letter-spacing: 1px;
    }
    h2:last-child{
        padding: 1rem 0.7rem;
        width: 515px;
        color: #fff;
        background-color: #335EEA;
        border-radius: 20px;
        text-align: left;
        
    }
    .writerBox {
        display: inline-block;
        width: 300px;
        white-space: nowrap; 
        text-align: left;
    }

    img {
        border-radius: 50%;
        width: 300px;
    }
}

@media only screen and (max-width: 940px) {
    header {
        gap: 2.5rem;
        h2:first-child{
            font-size: 2.2rem;
        }
        h2 {
            font-size: 2rem;
        }
    }
}

@media only screen and (max-width: 800px) {
    header {
        flex-direction: column;
        h2:first-child{
            font-size: 2.2rem;
        }
        h2 {
            font-size: 2rem;
            text-align: center;
            .writerBox {
                text-align: left;
            }
        }
        h2:last-child {
            text-align: center;
            background-color: #0a0a0a;
            color: #fff;
        }
    }
}